* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Didactic+Gothic&display=swap');

/* Estilo para los H1 con al fuente Sedan SC"*/
h1{
        font-family: 'Sedan SC', serif;
        text-align: center; 
        color: white;
        margin-left: 125px;
        padding-top: 5px;
        width: 80vw;
        height: 50px;
        background-color: #0d2033;
        align-items: center;
        border-radius: 10px;
    }


/* Estilo para los H2 con la fuente "Sedan SC" */
h2 {
    font-family: 'Sedan SC', serif;
    text-align: center; 
    color: white;
}

/* Estilo para los párrafos <p> con la fuente "Didactic Gothic" */
p {
    font-family: 'Didactic Gothic', sans-serif;
    text-align: center; 
}

body {
    background-image: url(../img/Banner/Banner-1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}


/*HEADER*/

.logo-header {
    width: 50%;
    height: 50px;
    margin-top: -70px;
}

header {
    background-color: rgb(236, 231, 220);
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 5 0ms all ease-in-out;
}



header nav {
    color: #b3b3b3;
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out
}

/*HEADER NAV*/

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* transición lenta para el cambio de color de fondo, podemos cambiar la velocidad cualqueir cosa */
}

nav a:hover {
    background-color: #FFD700;
    border-radius: 10px;
}

/*BARRA HAMBURGUES*/

.encabezado {
    height: 80px;
    background-color: rgb(236, 231, 220);
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

a{
    text-decoration: none;
}

ol,ul {
    list-style: none;
}

.label-hamburguesa {
    cursor: pointer;
}

.input-hamburguesa /*input*/ {
    display: none;
}

.input-hamburguesa:checked + .ul-hamburguesa {
    height: calc(100vh - 80px);
}

.ul-hamburguesa {
    width: 100%;
    background-color: rgb(236, 231, 220);
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    height: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.link-hamburguesa {
    font-size: 2rem;
    color: #302a1f;
    font-weight: bold;
    list-style: none;
}


/* BEBIDAS */ 

.bebida {
    text-align: center; /* Centra el texto */
    padding: 20px; /* Añade padding alrededor del contenido */
    margin: 20px auto; 
    margin-top: 100px;
    /* Centra horizontalmente y añade margen entre las bebidas */
    width: 80%;
    background-color: #501f0a;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.bebida img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;/* Centra horizontalmente la imagen */
 ; /* Añade padding encima y debajo de la imagen */
    box-shadow: 2px 2px 10px rgb(42, 39, 39);
}

.bebida p {
    color: #efefef;
}


/*FOOTER*/
.pie-pagina {
    width: 100%;
    background-color: rgb(194, 182, 156);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
}


.pie-pagina .grupo-1 .logo-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pie-pagina .grupo-1 .logo-footer img{
    width: 250px;
}

.pie-pagina .sub-grupo-1 h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.pie-pagina .sub-grupo-1 li{
    color: #efefef;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.pie-pagina .grupo-1 .sub-grupo-1 a:visited {
    color: #0d2033;
    text-decoration: none;
}
.pie-pagina .grupo-1 .red-social svg{
    display: flex;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    justify-content: center;
}

.grupo-1 .sub-grupo-1 {
    justify-content: center;
}
.pie-pagina .copyright {
    background-color: #0a1a2a;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

/* REPONSIVE */

@media(min-width: 700px) {
    h1 {
        font-family: 'Sedan SC', serif;
        margin-left: 80px;
    }
    body {
        padding: 2 4em;
    }
}

@media(max-width: 440px) {
    h1 {
        margin-left: 35px;
    }
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 35px 0px;
    }
}


@media (max-width: 440px) {
    .link-hamburguesa {
    font-size: 20px;
}
}

@media (min-width: 770px){
    /*panel hamburguesa*/
    .label-hamburguesa {
        display: none;
    }

    .ul-hamburguesa {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
    }

    .link-hamburguesa{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }    

    .a-hamburguesa :hover {
        background-color: #FFD700;

    }
}

@media (max-width: 1024px) {
    .pie-pagina {
        width: 100%;
        background-color: rgb(194, 182, 156);
        padding-top: 50px; /* Para evitar cualquier solapamiento */
        padding-bottom: 20px; /* Espacio en la parte inferior */
        color: white;
        font-family: 'Sedan SC', serif;
    }
    
    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 440px;
        margin: auto;
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
        justify-content: space-around; /* Espaciado uniforme entre los elementos */
        gap: 20px; /* Espacio entre los elementos */
        padding: 20px 0;
    }
    
    .logo-footer img{
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        margin-left: -5px;
        margin-top: -25px;
        align-items: center;
        filter: drop-shadow(1px 1px 1px #000);
    }
    
    
    .pie-pagina .grupo-1 .sub-grupo-1 h2 {
        color: #fff;
        justify-content: space-between;
        font-size: 20px;
        text-align: center;
    }
    
    .pie-pagina .grupo-1 .sub-grupo-1 li {
        color: #efefef;
        margin-bottom: 5px; /* Espacio inferior */
        margin-left: -40px;
        list-style: none;
    }
    
    .pie-pagina .grupo-1 .sub-grupo-1 a {
        text-decoration: none;
        color: white;
    }
    
    .pie-pagina .grupo-1 .sub-grupo-1 a:hover {
        color: #FFD700;
        text-decoration: none;
    }
    
    .red-social {
        display: flex;
        justify-content: center; /* Centrado de los iconos de redes sociales */
        gap: 10px; /* Espaciado entre los iconos */
    }
    
    .red-social img {
        width: 40px; /* Tamaño de los iconos */
        height: 40px;
    }
    
    .copyright {
        text-align: center; /* Centrado del texto */
        margin-top: 20px; /* Espacio superior */
        font-size: 14px;
    }
.bebida img{
    width: 100%;
}
}