* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Didactic+Gothic&display=swap');

/* Estilo para los H1 con al fuente Sedan SC"*/
h1{
        font-family: 'Sedan SC', serif;
        text-align: center; 
        color: white;
        margin-left: 125px;
        padding-top: 5px;
        width: 80vw;
        height: 50px;
        background-color: #0d2033;
        align-items: center;
        border-radius: 10px;
    }


/* Estilo para los H2 con la fuente "Sedan SC" */
h2 {
    font-family: 'Sedan SC', serif;
    text-align: center; 
    color: white;
}

/* Estilo para los párrafos <p> con la fuente "Didactic Gothic" */
p {
    font-family: 'Didactic Gothic', sans-serif;
    text-align: center; 
}

body {
    background-image: url(../img/Banner/Banner\ 1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}


/*HEADER*/

.logo-header {
    width: 50%;
    height: 50px;
}

header {
    background-color: rgb(236, 231, 220);
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 5 0ms all ease-in-out;
}
/*
header.transparente {
    background-color: transparent;
    box-shadow: none;
}*/



header nav {
    color: #b3b3b3;
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out
}

/*HEADER NAV*/

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    padding: 5px 5px; 
    transition: background-color 0.3s ease; /* transición lenta para el cambio de color de fondo, podemos cambiar la velocidad cualqueir cosa */
}

nav a:hover {
    background-color: #FFD700;
    border-radius: 10px;    
}

/*MENU LATERAL*/


.menu {
    width: 360px;
    height: 100vh;
    background-color: #424242e7;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 800ms ease-in-out;
    z-index: 2;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem;
    color: rgba(255, 255, 255, 0.75);
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    color: white;
}

.menu .copyright {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;   
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100;
}
/*BURGUER DE MENU*/ 

#burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra {
    background-color: white;
}
#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}
#burger.abierto .barra.media {
    width: 0;
}
#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

/* POSTRES*/ 

.postre {
    text-align: center; /* Centra el texto */
    padding: 20px; /* Añade padding alrededor del contenido */
    margin: 20px auto; 
    margin-top: 100px;
    /* Centra horizontalmente y añade margen entre las bebidas */
    width: 80%;
    background-color: #501f0a;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.postre img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;/* Centra horizontalmente la imagen */
 ; /* Añade padding encima y debajo de la imagen */
    box-shadow: 2px 2px 10px rgb(42, 39, 39);
}

.postre p {
    color: #efefef;
}

/*FOOTER*/

.pie-pagina {
    width: 100%;
    background-color:  rgb(194, 182, 156);
    padding-top: 50px; /* Para evitar cualquier solapamiento */
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.logo-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 1px #000);
}

.pie-pagina .grupo-1sub-grupo-1 img {
    width: 250px;
}

.pie-pagina .grupo-1 .sub-grupo-1 h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .sub-grupo-1 li {
    color: #efefef;
    margin-bottom: 10px;
    list-style: none;
}

.pie-pagina .grupo-1 .sub-grupo-1 a {
    text-decoration: none;
    color: white;
}

.pie-pagina .grupo-1 .sub-grupo-1 a:hover {
    color: #FFD700;
}

.pie-pagina .grupo-1 .sub-grupo-1 a:visited { 
    color: white;
}

.red-social {
    display:block; 
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #282121;
    margin-top: 13px;
    margin-right: 1px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}


.pie-pagina .copyright {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}