* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Didactic+Gothic&display=swap');

/* Estilo para los H1 con al fuente Sedan SC"*/
h1{
        font-family: 'Sedan SC', serif;
        text-align: center;
        color: white;
        margin-left: 125px;
        padding-top: 5px;
        width: 80vw;
        height: 50px;
        background-color: #0d2033;
        align-items: center;
        border-radius: 10px;
    }


/* Estilo para los H2 con la fuente "Sedan SC" */
h2 {
    font-family: 'Sedan SC', serif;
    text-align: center;
}

/* Estilo para los párrafos <p> con la fuente "Didactic Gothic" */
p {
    font-family: 'Didactic Gothic', sans-serif;
    text-align: center;
}



/*HEADER*/

.logo-header {
    width: 50%;
    height: 50px;
    margin-top: -70px;
}

header {
    background-color: rgb(236, 231, 220);
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 5 0ms all ease-in-out;
}



header nav {
    color: #b3b3b3;
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out
}

/*HEADER NAV*/

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* transición lenta para el cambio de color de fondo, podemos cambiar la velocidad cualqueir cosa */
}

nav a:hover {
    background-color: #FFD700;
    border-radius: 10px;
}

/*BARRA HAMBURGUES*/

.encabezado {
    height: 80px;
    background-color: rgb(236, 231, 220);
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

a{
    text-decoration: none;
}

ol,ul {
    list-style: none;
}

.label-hamburguesa {
    cursor: pointer;
}

.input-hamburguesa /*input*/ {
    display: none;
}

.input-hamburguesa:checked + .ul-hamburguesa {
    height: calc(100vh - 80px);
}

.ul-hamburguesa {
    width: 100%;
    background-color: rgb(236, 231, 220);
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    height: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.link-hamburguesa {
    font-size: 2rem;
    color: #302a1f;
    font-weight: bold;
    list-style: none;
}

/*BANNER*/

.banner {
    width: 100%;
    height: auto;
    display: block;
    opacity: 80%;
}

.tituloBanner{
    color: white;
    font-size: 4.5rem;
    text-align: center;
    top: -600px;
    position: relative;
    text-shadow:  7px 8px 4px rgba(0, 0, 0, 0.5);
}

.btnBanner{
    display: block;
    margin: auto;
    position: relative;
    top: -32rem;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #FFD700;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.btnBanner:hover {
    border: solid 1px black;
    cursor: pointer;
}

.volver {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFD700;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.volver:hover {
    background-color: #302a1f;
}

/*ASIDE*/

.promociones {
    display: flex;
    flex-direction: row-reverse;
    text-align: center; /* Centra el texto */
    font-family: 'Sedan SC', serif;
    padding: 20px; /* Añade padding alrededor del contenido */
    margin: 20px auto;
    margin-top: 100px;
    /* Centra horizontalmente y añade margen entre las bebidas */
    width: 95%;
    background-color: #501f0a4e;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}


.promociones h2 {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 30px;
    background-color: #0a1a2a;
    border-radius: 10px;
    color: white;
}

.promociones p {
    color: #ffffff;
}

.aside-container {
    width: 60%;
    height: 800px;
    margin-left: 4%;
    background-color: #88724a;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.aside-suscripcion {
    width: 100px;
 /* Ajusta el ancho del aside */
    margin-left: 10px;
    margin-right: 200px; /* Cambia el orden para que aparezca al final */
    text-align: center; /* Centra el contenido */


}

.formulario-suscripcion {
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: #501f0a4e;
    color: white;
    font-family: 'Sedan SC', serif;
}

.formulario-suscripcion p {
    color: white;
    font-family: 'Sedan SC', serif;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    background-color: #FFD700;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.caja-de-reserva {
    width: 90%;
    height: 150px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: #501f0a4e;
    color: white;
    font-family: 'Sedan SC', serif;
}

.caja-de-reserva a img{
    padding: 2px;
    width: 25%;
}

.caja-de-horarios {
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 6%;
    border-radius: 10px;
    background-color: #501f0a4e;
    color: white;
    font-family: 'Sedan SC', serif;
}

.carrousel {
    width: 90%;
    height: 800px;
    background-color: #88724a;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.carrousel p {
    color: white;
    margin-top: 5%;
}


.carrousel-imagenes {
    width: 65%;
    height: 600px;
    margin-top: 5%;
    margin-left: 18%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.carrousel-imagenes ul{
    display: flex;
    position: absolute;
    width: 300%;
    left: 0;
    animation: deslizar 15s infinite steps(1, end);
}

.carrousel-imagenes li {
    width: 33.33%;
    list-style: none;
}

.carrousel-imagenes img {
    width: 100%;
    height: auto;
}

@keyframes deslizar{
    0% { margin-left: 0; }
    33.33% { margin-left: -100%; }
    66.66% { margin-left: -200%; }
    100% { margin-left: -300%; }
}

.caja-quienes-somos {
    margin: 15px;
    padding: 20px; /* Añade padding alrededor del contenido */
    margin: 20px auto;
    margin-top: 100px;
    /* Centra horizontalmente y añade margen entre las bebidas */
    width: 95%;
    background-color: #501f0a4e;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.caja-quienes-somos h2 {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 30px;
    background-color: #0a1a2a;
    border-radius: 10px;
    color: white;
}
.nosotros-somos {
    display: flex;
    margin: 15px;
    padding: 20px; /* Añade padding alrededor del contenido */
    margin: 20px auto;
    margin-top: 20px;
    /* Centra horizontalmente y añade margen entre las bebidas */
    width: 95%;
    background-color: #501f0a4e;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey;
}

.nosotros-somos p {
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;

}

.img-quienes-somos {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.nosotros-somos p {
    color: white;
}


.postBanner h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #FFD700;
    margin: auto;
    margin-top: -100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(48, 42, 31, 0.8);
}

.opciones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;

}

.cajas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 22%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

.cajas h3 {
    color:#a97c50;
    font-family: monospace;
    font-size: 2rem;
}

.cajas p {
    color:#000000;
    font-family: monospace;
    font-size: 1rem;
    margin-top: 5px;
}

.cajas .icono {
    font-size: 32px;
    margin-top: 10px;
    color:#FFD700;
}

/*FOOTER*/
.pie-pagina {
    width: 100%;
    background-color: rgb(194, 182, 156);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
}


.pie-pagina .grupo-1 .logo-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pie-pagina .grupo-1 .logo-footer img{
    width: 250px;
}

.pie-pagina .sub-grupo-1 h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.pie-pagina .sub-grupo-1 li{
    color: #efefef;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.pie-pagina .grupo-1 .sub-grupo-1 a:visited {
    color: #0d2033;
    text-decoration: none;
}
.pie-pagina .grupo-1 .red-social svg{
    display: flex;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    justify-content: center;
}

.grupo-1 .sub-grupo-1 {
    justify-content: center;
}
.pie-pagina .copyright {
    background-color: #0a1a2a;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

/*Responsive*/

/* Estilos generales */
body {
    padding: 0 2em;
}

header {
    padding: 0 1.5em;
}




/* Celulares (hasta 440px) */
@media (max-width: 440px) {
    body, header {
        padding: 0 1em;
    }

    .tituloBanner {
        font-size: 2rem;
        width: 100%;
        margin-top: 110px;
        margin-left: 0;
        text-align: center;
    }

    .banner {
        width: 100%;
        margin-left: -9px;
    }

    .btnBanner {
        width: 100px;
        height: 35px;
        margin-top: 10px;
    }

    .postBanner h2 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
    }

    .cajas {
        width: 100%;
        margin: 10px 0;
    }

    .promociones {
        display: inline-grid;
        justify-content: center;
        text-align: center;
        font-family: 'Sedan SC', serif;
        padding: 20px;
        margin: 20px auto;
        width: 100%;
        background-color: #501f0a4e;
        border-radius: 15px;
        box-shadow: 2px 2px 10px grey;
        align-items: center;
    }

    .carrousel {
        height: auto;
        margin: 15px 0;
    }

    .carrousel-imagenes {
        height: 150px;
    }

    .aside-container {
        width: 100%;
        margin: 0;
    }

    .aside-container h2 {
        font-size: 20px;
    }

    .formulario-suscripcion p {
        font-size: 13px;
        margin-bottom: 5%;
    }

    .caja-de-reserva {
        height: 100px;
    }

    .nosotros-somos {
        flex-direction: column;
        width: 100%;
        margin: 50px 0;
        padding: 10px;
    }

    .img-quienes-somos {
        width: 100%;
    }

    .red-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }

    .pie-pagina {
        width: 100%;
        background-color: rgb(194, 182, 156);
        padding-top: 50px;
        padding-bottom: 20px;
        color: white;
        font-family: 'Sedan SC', serif;
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 440px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        padding: 20px 0;
    }

    .logo-footer img {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        filter: drop-shadow(1px 1px 1px #000);
    }

    .pie-pagina .grupo-1 .sub-grupo-1 h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 li {
        color: #efefef;
        margin-bottom: 5px;
        list-style: none;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 a {
        text-decoration: none;
        color: white;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 a:hover {
        color: #FFD700;
    }

    .red-social img {
        width: 40px;
        height: 40px;
    }

    .copyright {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }
}

/* Tablets y dispositivos medianos (hasta 720px) */
@media (max-width: 720px) {
    .promociones {
        display: inline-grid;
        justify-content: center;
        text-align: center;
        font-family: 'Sedan SC', serif;
        padding: 20px;
        margin: 20px auto;
        width: 100%;
        height: 1200px;
        margin-top: 100px;
        background-color: #501f0a4e;
        border-radius: 15px;
        box-shadow: 2px 2px 10px grey;
        align-items: center;
    }

    .carrousel {
        height: 400px;
        margin-left: 15px;
        margin-top: -30px;
    }



    .aside-container {
        width: 90%;
        height: 650px;
        margin-left: 16px;
    }

    .aside-container h2 {
        font-size: 20px;
    }

    .formulario-suscripcion p {
        font-size: 13px;
        margin-bottom: 5%;
    }

    .caja-de-reserva {
        height: 100px;
    }

    .nosotros-somos {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 50px;
        padding: 10px;
    }

    .img-quienes-somos {
        width: 100%;
    }

    .red-social {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }

    .link-hamburguesa {
        font-size: 20px;
    }
}

/* Dispositivos grandes (hasta 1024px) */
@media (max-width: 1024px) {
    .tituloBanner {
        font-size: 2.4rem;
        width: 100%;
        margin-top: 200px;
        margin-left: 0;
        
        text-align: center;
    }

    .banner {
        width: 836px;
        margin-left: -32px;
    }

    .btnBanner {
        width: 100px;
        height: 35px;
        margin-top: 10px;
    }

    .postBanner h2 {
        font-size: 3rem;;
    }

    .opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
    }

    .cajas {
        width: 100%;
        margin: 10px 0;
    }

    .promociones {
        display: inline-grid;
        justify-content: center;
        text-align: center;
        font-family: 'Sedan SC', serif;
        padding: 20px;
        margin: 20px auto;
        width: 100%;
        height: 1500px;
        margin-top: 100px;
        background-color: #501f0a4e;
        border-radius: 15px;
        box-shadow: 2px 2px 10px grey;
        align-items: center;
    }

    .carrousel {
        height: 680px;
        margin-left: 15px;
        margin-top: -30px;
    }

    .carrousel-imagenes {
        height: 480px;
    }

    .aside-container {
        width: 90%;
        height: 650px;
        margin-left: 16px;
    }

    .aside-container h2 {
        font-size: 20px;
    }

    .formulario-suscripcion p {
        font-size: 13px;
        margin-bottom: 5%;
    }

    .caja-de-reserva {
        height: 100px;
    }

    .caja-de-reserva p {
        margin-top: -20px;
        margin-bottom: 15px;
    }

    .caja-de-reserva a img {
        width: 60px;
        margin-top: -10px;
    }

    .nosotros-somos {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 50px;
        padding: 10px;
    }

    .img-quienes-somos {
        width: 100%;
    }

    .pie-pagina {
        width: 100%;
        background-color: rgb(194, 182, 156);
        padding-top: 50px;
        padding-bottom: 20px;
        color: white;
        font-family: 'Sedan SC', serif;
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 440px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        padding: 20px 0;
    }

    .logo-footer img {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        filter: drop-shadow(1px 1px 1px #000);
    }

    .pie-pagina .grupo-1 .sub-grupo-1 h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 li {
        color: #efefef;
        margin-bottom: 5px;
        list-style: none;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 a {
        text-decoration: none;
        color: white;
    }

    .pie-pagina .grupo-1 .sub-grupo-1 a:hover {
        color: #FFD700;
    }

    .red-social img {
        width: 40px;
        height: 40px;
    }

    .copyright {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }
}

/* Dispositivos grandes y desktops */
@media (min-width: 880px) {
    .label-hamburguesa {
        display: none;
    }

    .ul-hamburguesa {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    .link-hamburguesa {
        font-size: 1.2rem;
        transition: all 0.3s;
        padding: 0.2rem 0.7rem;
    }

    .a-hamburguesa:hover {
        background-color: #FFD700;
    }
}
